---
layout: default
title: Home
---

<div class="home-intro">
  <p class="intro-text">{{ site.description }}</p>
</div>

<section id="posts">
  <h2 class="section-heading">Recent Posts</h2>

  {% if site.posts.size > 0 %}
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-list-item">
      <span class="post-list-date">{{ post.date | date: "%B %Y" }}</span>
      <a class="post-list-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.excerpt %}
      <p class="post-list-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="no-posts">No posts yet.</p>
  {% endif %}
</section>
